<div class="px-8 mx-auto max-w-6xl">
    <span class="link" routerLink="/speedrun">&larr; Back</span>
    <div *ngFor="let archive of archivedStarTimes;">
        {{archive.id}}. 
        Star <span class="font-bold">{{getStarById(archive.starId).name}}</span> 
        in <span class="font-bold">{{archive.timeDisplay}}</span> 
        by <span class="font-bold">{{getUserById(archive.userId).userName}}</span> 
        on <span class="font-bold">{{archive.timestamp | date:'mediumDate'}}</span> 
        (archived on <span class="font-bold">{{archive.lastUpdated | date:'mediumDate'}}</span>)
        - <a *ngIf="archive.videoUrl" class="link" [href]="getYoutubeUrl(archive.videoUrl)">View</a>
    </div>
</div>