@import '~@angular/material/theming';

$lyelt-primary: mat-palette($mat-indigo);
$lyelt-accent: mat-palette($mat-blue-gray);
$lyelt-warn: mat-palette($mat-pink);

$primary: mat-color($lyelt-primary);
$accent: mat-color($lyelt-accent);
$warn: mat-color($lyelt-warn);
