@import url('https://fonts.googleapis.com/css?family=Raleway:300,700|Material+Icons');
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@include mat-core();

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100%;
}

mat-sidenav-container {
  min-height: 100%;
}

.body-content {
  min-height: calc(100vh - 145px);
}

.footer-content {
  height: 90px;
}

/*ul {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
}

ul li {
  display: inline;
  margin-right: 30px;
}

ul li a {
  font-size: 1.5em;
}*/

a {
  cursor: pointer;
}

mat-icon {
  cursor: pointer;
}

table {
  width: 100%;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-toolbar-row {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Flex containers */
.container {
  display: flex;
  max-width: 1012px;
  margin-left: auto;
  margin-right: auto;
}

.responsive-container {
  display: flex;
}

.container-vertical {
  display: flex;
  flex-direction: column;
}

.container-vertical > * {
  width: 100%;
}

.container-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-horizontal > * {
  width: 100%;
}

/* Resizing content based on screen size */
.responsive, .responsive-container > * {
  width: 330px;
}

@media only screen and (min-width: 600px) {
  .responsive, .responsive-container > * {
    min-width: 560px;
  }
}

@media only screen and (min-width: 1080px) {
  .responsive, .responsive-container > * {
    min-width: 800px;
  }
}

@media only screen and (min-width: 1200px) {
  .responsive-lg, .responsive-container-lg > * {
    min-width: 1080px;
  }
}

@media only screen and (min-width: 600px) {
  .mat-dialog-container {
    min-width: 560px;
    max-width: 560px;
  }
}

@media only screen and (min-width: 1080px) {
  .mat-dialog-container {
    min-width: 800px;
    max-width: 800px;
  }
}

@media only screen and (min-width: 1200px) {
  .mat-dialog-container {
    min-width: 1080px;
    max-width: 1080px;
  }
}

/* Horizontal Rule with text in the middle */
.hr {
  overflow: hidden;
  text-align: center;
}

.hr:before,
.hr:after {
  background-color: #3f51b5;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.hr:before {
  right: 0.5em;
  margin-left: -50%;
}

.hr:after {
  left: 0.5em;
  margin-right: -50%;
}

.mat-tab-body-wrapper {
  margin-top: 1em;
}

.mat-tab-labels {
  justify-content: center;
}



/*.chart-legend .legend-labels {
  display: flex !important;
  flex-direction: column !important;
  width: inherit !important;
}

.chart-legend {
  display: flex !important;
}*/
