/* use this file exclusively for global styling */
@tailwind base;

@layer base {
  th {
    @apply font-normal;
  }
}

@tailwind components;

.btn {
  @apply font-semibold py-2 px-4 rounded transition-bg ease-in-out duration-200 disabled:opacity-50 disabled:pointer-events-none;
}

.btn-primary {
  @apply bg-indigo-600 text-indigo-50 hover:bg-indigo-700 dark:bg-indigo-700 dark:hover:bg-indigo-800;
}

.btn-secondary {
  @apply bg-pink-600 text-pink-50 hover:bg-pink-700 dark:bg-pink-700 dark:hover:bg-pink-800;
}

select {
  @apply dark:bg-gray-900 dark:border-gray-400 dark:placeholder-gray-400 rounded;
}

input[type] {
  @apply dark:bg-gray-900 dark:border-gray-400 dark:placeholder-gray-400 rounded;
}

::-webkit-calendar-picker-indicator {
  filter: invert(70%);
}

.nav-link-hover {
  @apply relative;
}
.nav-link-hover:before {
  @apply absolute left-1/2 right-1/2 bottom-0 bg-indigo-600 h-0.5 transition-center duration-300 ease-out dark:bg-indigo-400; 
  content: "";
  position: absolute;
  z-index: -1;
}
.nav-link-hover:hover:before, .nav-link-hover:focus:before, .nav-link-hover:active:before {
  @apply left-0 right-0;
}

.link {
  @apply text-indigo-600 dark:text-indigo-400 font-semibold underline cursor-pointer hover:text-indigo-700 dark:hover:text-indigo-500;
}

.blog-card {
  @apply rounded shadow-xl p-2 bg-white dark:bg-gray-600;
}

.nav-link {
  @apply mx-2 uppercase tracking-wide cursor-pointer sm:mx-4;
}

.last-menu-item {
  @apply font-bold border-solid border-0 border-t border-gray-400 -mb-2 hover:bg-indigo-200 #{!important};
}

.menu-item {
  @apply hover:bg-indigo-200;
}

.bg-wave {
  stroke-dasharray: 2100;
  stroke-dashoffset: 2100;
}

.bg-wave.wave-1 {
  animation: line-anim 1s ease forwards;
}

.bg-wave.wave-2 {
  animation: line-anim 2s ease forwards;
}

.bg-wave.wave-3 {
  animation: line-anim 3s ease forwards;
}

.bg-wave.wave-4 {
  animation: line-anim 4s ease forwards;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700|Material+Icons');
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

/* purgecss start ignore */
/* Make the legend labels flow horizontally and wrap instead of one-per-line. */
.chart-legend .legend-labels {
  white-space: inherit #{!important};
  background: inherit #{!important};
  text-align: center #{!important};
}

.chart-legend ul, .chart-legend li {
  display: inline-block;
}

/*
  For some reason the horizontal bar chart refuses to be responsive unless there is a legend present.
  But I don't actually want a legend in this case... So I'm enabling it and then hiding it. Wonderful!
*/
.chart-container .chart-horizontal .chart-legend {
  opacity: 0 #{!important};
}
.chart-container .chart-line-selector .chart-legend {
  opacity: 0 #{!important};
}
.ngx-charts text {
  @apply fill-current #{!important};
}

/* Some manual overriding of dialog window responsive sizing */
@media only screen and (min-width: 640px) {
  .mat-dialog-container {
    min-width: 560px;
    max-width: 560px;
  }
}

@media only screen and (min-width: 900px) {
  .mat-dialog-container {
    min-width: 800px;
    max-width: 800px;
  }
}

@media only screen and (min-width: 1250px) {
  .mat-dialog-container {
    min-width: 1080px;
    max-width: 1080px;
  }
}

.mat-dialog-container {
  @apply dark:bg-gray-800 dark:text-gray-200;
}

.mat-tab-label, .mat-tab-link {
  @apply dark:text-white #{!important};
}

.ng-autocomplete, .autocomplete-container {
  @apply rounded-l-full rounded-r-none w-auto mb-2  #{!important};
}

.autocomplete-container {
  @apply shadow-md #{!important};
}

.autocomplete-container .suggestions-container, .autocomplete-container .not-found {
  @apply dark:bg-gray-900 #{!important};
}

.autocomplete-container .suggestions-container ul li a {
  @apply dark:text-white #{!important};
}

.autocomplete-container .input-container input {
  @apply rounded-l-full rounded-r-none bg-gray-300 dark:bg-gray-900 dark:text-white #{!important};

  &:focus {
    @apply bg-white dark:bg-gray-700 #{!important};
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.animate-border {
  position: relative;
  z-index: 0;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: 0;
    /*left: -50%;
    top: -50%;*/
    width: 100%;
    height: 25%;
    background-repeat: no-repeat;
    /*background-size: 50% 50%, 50% 50%;*/
    animation: rotate 3s linear infinite;
  }

  &::before {
    @apply bg-pink-400 dark:bg-pink-700;
  }


  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 3px;
    top: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: 999rem;
  }

  &::after {
    @apply bg-white dark:bg-gray-900;
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(1);
    opacity: 0;
  }
}

.ping-500 {
  animation: ping .5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.ping-1000 {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.ping-1500 {
  animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.ping-2000 {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.animation-delay-500 {
  animation-delay: 500ms;
}

.animation-delay-1000 {
  animation-delay: 1000ms;
}

.animation-delay-1500 {
  animation-delay: 1500ms;
}
/* purgecss end ignore */
