/* use this file exclusively for global styling */ 
@tailwind base;
@tailwind components;

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn:hover {
  @apply bg-gray-200;
}

.link {
  @apply text-indigo-400 font-semibold border-b border-indigo-400 cursor-pointer;
}

.link:hover {
  @apply border-indigo-600;
}

path {
  stroke-dasharray: 2100;
  stroke-dashoffset: 2100;
  animation: line-anim 2s ease forwards;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700|Material+Icons');
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
/* Make the legend labels flow horizontally and wrap instead of one-per-line. */
.chart-legend .legend-labels {
  white-space: inherit !important;
  background: white !important;
  text-align: center !important;
}

.chart-legend ul, .chart-legend li {
  display: inline-block;
}
