/* use this file exclusively for global styling */ 
@tailwind base;
@tailwind components;

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-primary {
  @apply bg-indigo-500 text-indigo-100;
}

.btn-secondary {
  @apply bg-pink-500 text-pink-100;
}

.btn:hover {
  @apply bg-gray-200;
}

.btn-primary:hover {
  @apply bg-indigo-600;
}

.btn-secondary:hover {
  @apply bg-pink-200;
}

.link {
  @apply text-indigo-400 font-semibold border-b border-indigo-400 cursor-pointer;
}

.link:hover {
  @apply border-indigo-600;
}

path {
  stroke-dasharray: 2100;
  stroke-dashoffset: 2100;
  animation: line-anim 2s ease forwards;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700|Material+Icons');
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
/* Make the legend labels flow horizontally and wrap instead of one-per-line. */
.chart-legend .legend-labels {
  white-space: inherit !important;
  background: white !important;
  text-align: center !important;
}

.chart-legend ul, .chart-legend li {
  display: inline-block;
}

/* Some manual overriding of dialog window responsive sizing */
@media only screen and (min-width: 600px) {
  .mat-dialog-container {
    min-width: 560px;
    max-width: 560px;
  }
}

@media only screen and (min-width: 1080px) {
  .mat-dialog-container {
    min-width: 800px;
    max-width: 800px;
  }
}

@media only screen and (min-width: 1200px) {
  .mat-dialog-container {
    min-width: 1080px;
    max-width: 1080px;
  }
}
