<div class="flex flex-col justify-center px-8">
  <h1 class="font-bold text-2xl mb-4 text-center">Turn Tracker (in progress)</h1>
  <div class="container mx-auto flex flex-col max-w-lg">
    <!-- actions -->
    <div class="flex justify-end">
      <mat-icon class="cursor-pointer">sort</mat-icon>
    </div>
    <!-- player container -->
    <div  class="flex flex-col justify-center">
      <app-player name="Sebastian Silverstein" order="22"></app-player>
      <app-player name="Ollie Bean" order="21"></app-player>
    </div>
    <!-- add new player -->
    <form class="flex flex-row mt-6 items-center justify-between">
      <input type="text" class="form-input w-3/6 mr-2 rounded-full" placeholder="Name" required />
      <input type="number" class="form-input w-2/6 mr-2 rounded-full" placeholder="Order" />
      <button type="submit" class="btn btn-primary w-1/6 rounded-full flex justify-center" title="Add Player">
        <span class="hidden sm:inline mr-2">Add</span><mat-icon>add_circle_outline</mat-icon>
      </button>
    </form>
  </div>
</div>
