.card {
  width: 330px;
  text-align: left;
  margin: 1em 0 2em 0;
}

.align-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .card {
    min-width: 560px;
  }

  .align-text {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1080px) {
  .card {
    min-width: 800px;
  }
}

.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(63, 81, 181, .25);
}
