<footer class="text-sm bg-white border-t border-gray-300 mt-12">
  <nav class="flex justify-center block sm:hidden">
    <a class="px-6 py-4" href="https://github.com/Lyelt" title="Github"><img src="assets/github-logo.png" /></a>
    <a class="px-6 py-4" href="https://www.linkedin.com/in/nicholasghobrial/" title="LinkedIn"><img src="assets/linkedin-logo.png" /></a>
  </nav>
  <nav class="flex justify-center">
    <p class="text-xs px-6 py-4">	&copy; Nicholas Ghobrial 2019</p>
  </nav>
</footer>
