@import '../../lyelt-theme.scss';

.highlight {
  color: $primary;
}

.title {
  font-weight: 700;
  font-size: 28px;
}

.container-vertical {
  text-align: center;
}

.head {
  margin: 4em 0 4em 0;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills {
}

.card {
  max-width: 600px;
  min-width: 330px;
  text-align: left;
  margin: 2em 0 2em 0;
}

@media only screen and (min-width: 600px) {
  .card {
    min-width: 600px;
  }
}


.skill-card {
  background-color: rgba(233, 30, 99, .25);
}

.project-card {
  background-color: rgba(63, 81, 181, .25);
}

.project-card > mat-card-actions {
  text-align: center;
}
