<div class="container-vertical">
  <div class="head responsive-container">
    <h1 class="title">
      Hi, I'm <span class="highlight">Nicholas Ghobrial</span>.
    </h1>
    <p>
      I'm a software engineer from Connecticut working for <a href="https://capsuletech.com">Capsule Technologies</a> (formerly Bernoulli Health), a medical device software company.
    </p>
  </div>
  <div class="projects responsive-container">
    <h2 id="projects">Personal Projects</h2>
    <mat-card class="card project-card">
      <mat-card-header>
        <mat-card-title>D&D Encounter Simulator</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="project-image" src="assets/encounter/3.png" alt="Encounter Simulator image" />
      <mat-card-content>
        <p>
          A tool used for tracking initiatives and statistics during a D&D encounter.
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button routerLink="encounter"><mat-icon>expand_more</mat-icon> Read More</button>
        <button mat-button (click)="navigate('https://github.com/Lyelt/EncounterSimulator');"><mat-icon>exit_to_app</mat-icon> View on GitHub</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card project-card">
      <mat-card-header>
        <mat-card-title>Typing Analyzer</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="project-image" src="assets/typing/1.png" alt="Typing Analyzer image" />
      <mat-card-content>
        <p>
          Gather interesting and useful stats about your typing patterns.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="typing"><mat-icon>expand_more</mat-icon> Read More</button>
        <button mat-button (click)="navigate('https://github.com/Lyelt/TypingAnalyzer');"><mat-icon>exit_to_app</mat-icon> View on GitHub</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card project-card">
      <mat-card-header>
        <mat-card-title>Portfolio</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="project-image" src="assets/portfolio/1.png" alt="Portfolio image" />
      <mat-card-content>
        <p>
          This website! A custom portfolio website detailing my personal projects and work experience.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="portfolio"><mat-icon>expand_more</mat-icon> Read More</button>
        <button mat-button (click)="navigate('https://github.com/Lyelt/Portfolio');"><mat-icon>exit_to_app</mat-icon> View on GitHub</button>
      </mat-card-actions>
    </mat-card>
  </div>


  <div class="skills responsive-container">
    <h2 id="skills">Skills</h2>
    <mat-card class="card skill-card">
      <mat-card-header>
        <mat-card-title>Programming</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          I primarily work with C#, including many facets of the .NET ecosystem such as ASP.NET [Core] MVC, WinForms, and WPF.

          I am also familiar with SQL Server, Java, and some Python. I always strive to write clean, maintainable, and highly testable code.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card skill-card">
      <mat-card-header>
        <mat-card-title>Front-End</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          In web development at Bernoulli, I've mainly used HTML/CSS along with Javascript/jQuery and Bootstrap.

          In my personal projects, I am quite interested in the latest front-end frameworks and I have experimented with NodeJS, Angular 7, Angular Material, and TypeScript.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card skill-card bg-image jenkins-logo">
      <mat-card-header>
        <mat-card-title>Continous Integration / Deployment</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          At Bernoulli, I am responsible for managing the build and continuous integration of the software.

          I learned Jenkins in order to simplify this process, and I am leading the initiative for a completely automated build environment conducive to constant testing.

          I also have experience with continuous deployment using dokku and Docker - that's how this website is deployed!
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card skill-card">
      <mat-card-header>
        <mat-card-title>Health Care Industry Standards</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Working at Bernoulli has given me an in-depth understanding of the medical device / clinical surveillance industry.

          As an FDA-compliant company, many protocols and processes had to be adhered to to ensure patient safety.

          In health care, HL7 is the defacto standard when it comes to patient data transfer and storage.

          I have worked extensively with HL7 in the context of electronic health records and alarm management.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="about responsive-container">
    <h2 id="about">About Me</h2>
    <mat-card class="card about-card bg-image unh-logo">
      <mat-card-header>
        <mat-card-title>Education</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          In 2014, I graduated high school with absolutely no clue what I wanted to do in life. I knew I liked video games, though, so I decided to try my hand at a computer science degree.

          In 2018, I graduated from the University of New Haven with said degree and a passion for programming that I discovered along the way.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card about-card">
      <mat-card-header>
        <mat-card-title>Hobbies</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Aside from my aforementioned love of video games, I also enjoy tennis, bowling, playing guitar, and cooking.
        </p>
      </mat-card-content>
    </mat-card>
  </div>


  <div class="contact responsive-container">
    <h2 id="contact">Contact Me</h2>
    <mat-card class="card contact-card">
      <div class="container-vertical">
        <div class="contact-row"><mat-icon>email</mat-icon><span class="contact-info">nicholas.ghobrial@gmail.com</span></div>
        <div class="contact-row"><mat-icon>call</mat-icon><span class="contact-info">(203) 318-4094</span></div>
        <div class="contact-row"><mat-icon>location_on</mat-icon><span class="contact-info"><a href="https://www.google.com/maps/place/New+Haven,+CT">New Haven, CT</a></span></div>
      </div>
    </mat-card>
  </div>
</div>
