<app-blog-article>
  <app-blog-header>
    <app-blog-title>Another Hobby, Another Project (Yu-Gi-Oh!)</app-blog-title>
    <app-blog-date>March 10, 2020</app-blog-date>
    <app-blog-subtitle>A collection keeper for Yu-Gi-Oh decks and lists.</app-blog-subtitle>
  </app-blog-header>

  <app-blog-section>
    <app-blog-section-title>What is Yu-Gi-Oh?</app-blog-section-title>
    <p>
      As you’ve most certainly read all of my other <span class="link" routerLink="/blog">blog posts</span>, you’re probably tired of reading about my hobbies.
      I’ll keep this one short. Yu-Gi-Oh is a trading card game that involves building a deck and “dueling” others.
      The cards needed to build a deck can be found by opening packs and hoping to pull the card(s) you’re looking for (great for gambling addicts) or, more reasonably (but less fun), by purchasing the single cards you’re looking for online.
    </p>
  </app-blog-section>

  <app-blog-section>
    <app-blog-section-title>Solving a Problem</app-blog-section-title>
    <p>
      Of course, I had to invent a problem to solve as soon as we started getting into this new hobby.
      My friends and I tend to indulge <i>a bit too much</i> on the gambling side of things, so we’ve ended up with hundreds upon hundreds of cards that we will simply never use and are not worth selling.
      Still, it can be helpful for trading and deck-building purposes to know exactly what cards we own, which is quite difficult when they’re stowed away in boxes by the thousand.
    </p>
    <h3 class="blog-h3">Hence, the Collection Keeper. Or something. I haven’t really named it.</h3>
    <p class="mt-6">
      Authorized users are able to log in to the site, create collections, and virtually add cards to those collections with the click of a button.
      The collections may represent the person’s entire real life collection, or a smaller subset of those cards such as a single deck.
      In addition, it may be handy to create a wish list so that others can see which cards you’re looking for and strike up a trade.
    </p>
  </app-blog-section>

  <app-blog-section>
    <app-blog-section-title>The Fun Part</app-blog-section-title>
    <p>
      The most fun part about this project was exploring the <a class="link" href="https://db.ygoprodeck.com/api-guide/">Yu-Gi-Oh API</a>. I love when I can pull a ton of data about something and just play with it - that was the motivation for my <span class="link" routerLink="/blog/bowling">bowling score tracker</span> as well.
      In this case, the API offers metadata and price information about every card imaginable (which, at the time of writing, is upwards of 21,000).
    </p>
    <p class="mt-6">
      The first step was making this information available in a useful way.
      For this, I used an autocomplete control where all cards can be searched by name, similarly to how the popular <a class="link" href="https://www.tcgplayer.com/">TCGPlayer</a> website handles it.
      Nothing wrong with a little inspiration from someone who has it all figured out!
      I decided to leave this part open to the public, since there is no interface with my database and the API results are cached to avoid going over the rate limit. <a class="link" href="/yugioh" target="_blank">Check it out here!</a>
    </p>
  </app-blog-section>

  <app-blog-section>
    <app-blog-section-title>The Hard Part</app-blog-section-title>
    <p>
      Once the autocomplete worked, it was time to actually make it possible to interface with the collection keeper.
      The backend was pretty simple, just the familiar one-to-many pattern I had dealt with in both the <span class="link" routerLink="/blog/bowling">bowling</span> and <span class="link" routerLink="/blog/speedrun">speedrun</span> projects.
      The UI, however, was a challenge that I had to carefully design and plan for. What is the most user-friendly way of adding items to a collection when that collection might contain hundreds of unique items, including duplicates?
      What about adding the same item to multiple collections at once? These are two completely valid scenarios, but the workflow is very different between the two.
      Not to mention the fact that the same card can exist several times in various rarities with different prices… It was quite a hurdle.
      Given that I myself am a user in this scenario, I tried to imagine exactly what I would want if I were to download a similar third-party app that does this, and went from there.
    </p>
  </app-blog-section>

  <app-blog-section>
    <app-blog-section-title>Results</app-blog-section-title>
    <p>
      Getting the first iteration of the deck builder / collection keeper working was quite a nice feeling.
      It was something that my friends and I could start using immediately, despite a few bugs and annoyances here and there.
      I decided to go with a layout similar to that of <a class="link" href="http://yugiohtopdecks.com/deck/8537">YugiohTopDecks</a> for displaying the contents of a collection, as I always found that layout quite easy to read and nice-looking on mobile.
      Here's a peek behind the login screen:
    </p>
    <div class="blog-card mt-6">
      <img src="assets/yugioh/1.png" alt="Collection view" />
      <p class="italic text-sm p-2">Collections are split into "sections" (in this case, Main Deck and Extra Deck) which are displayed separately. Information about the overall collection is found in the top-right.</p>
    </div>
    <p class="mt-6">
      At the time of writing, the features available for a particular collection are somewhat limited, but it's a very promising starting point.
      The price next to each card links to the entry on TCGPlayer for easy purchasing or price verification.
      Clicking the pencil next to each deck section opens up a card search (the same one that's open to the public) to add cards to said section.
      Within each section, the cards are separated further by type. Don't worry, it makes sense in Yu-Gi-Oh.
    </p>
  </app-blog-section>

  <app-blog-section>
    <app-blog-section-title>What's Next?</app-blog-section-title>
    <p>
      In the immediate future, I anticipate working out some of the more frustrating kinks, and then moving on to some cool advanced search features.
      I did not prioritize the search functionality (other than the basic typeahead you see now) because there are already plenty of online resources that do a pretty good job of it.
      Still, there are some common searches that would be nice to have available at the click of a button, as we are always looking for the recent changes in price and whatnot. 
    </p>
  </app-blog-section>

  <app-blog-section>
    <app-blog-section-title>In Conclusion</app-blog-section-title>
    <p class="mt-6">
      Outstanding tasks can be found on <a class="link" href="https://trello.com/b/hpTp1H0B/portfolio-tasks">my public Trello board</a> where I organize and track all of my tasks and projects.
      Also, feel free to check out the <a class="link" href="https://github.com/Lyelt/EncounterSimulator">entire project on GitHub</a> if you're interested!
    </p>
  </app-blog-section>
</app-blog-article>
