<blog-article>
  <blog-header>
    <blog-title>A Look Back at 2020</blog-title>
    <blog-date>December 18, 2020</blog-date>
    <blog-subtitle>The things I did, the things I wish I did, and the things I hope to do next year.</blog-subtitle>
  </blog-header>

  <blog-section>
    <blog-section-title>The Impact of COVID on My Projects</blog-section-title>
    <blog-p>
      As my March blog post details, a few friends and I got heavily invested in Yu-Gi-Oh in late 2019 and into early 2020.
      Of course, that inspired my first big project of the year which was a card collection tracker and search engine for Yu-Gi-Oh.
      Improvements on that project continued into August, but being unable to play in person made my interest in Yu-Gi-Oh start to dwindle.
      With bowling allies closed, I was no longer gathering scores to input into the bowling score tracker either.
    </blog-p>
    <blog-p class="mt-5">
      Surprisingly, being stuck inside all day left me with <em>less</em> project inspiration, not more.
    </blog-p>
  </blog-section>

  <blog-section>
    <blog-section-title>How Did I Spend My Time?</blog-section-title>
    <p class="italic mb-8">Not productively, to say the least.</p>
    <blog-h3>The VALORANT Era</blog-h3>
    <blog-p>
      After Yu-Gi-Oh, bowling, and other in-person activities took a back seat, VALORANT was all the rage right around the start of quarantine.
      Naturally, most of my free time was taken up trying to get good at that game.
      Unfortunately, nothing in VALORANT really lent itself to a software project, so I didn't do too much hobby programming in April-May.
    </blog-p>

    <blog-h3>Back to Speedrunning</blog-h3>
    <blog-p>
      In the middle of the year, I dipped back into SM64 speedrunning as detailed in my <a class="link" routerLink="/blog/speedrun/update">blog post about overhauling the speedrun page</a>.
      With a lot more free time at home, Matt and I got much more competitive this time around especially as the website was beginning to do a lot more of what it was designed to.
      Still, I usually only get into speedrunning for a few months at a time, so despite it being a hobby that lends itself very well to programming, it was time to take another break.
    </blog-p>

    <blog-h3>Old School Runescape</blog-h3>
    <blog-p>
      Where do I begin? I've played this game for thousands of hours over the years, and what better time to pick it back up than when I'm stuck at home all day anyway?
      This game occupied me for a <em>lot</em> of time this year, but it is another example of a game that does not really lend itself to software projects.
      Actually, that's not entirely true - there were a lot of cool ideas I had for various tools and trackers, but the OSRS community already had solutions for everything I imagined.
      I'm not sure <em>how</em> it's possible to spend so much time on a game and not get tired of it, but it is. I can prove it.
    </blog-p>

    <blog-h3>Among Us</blog-h3>
    <blog-p>
      While I didn't intend for this blog post to turn into a video game journalism article, I would be remiss if I didn't mention this game.
      From when it took off in ~September until the time of writing this, I've logged around 50 hours in this game.
      A drop in the bucket compared to the time I put into the other games mentioned here, but very telling when you consider that it requires gathering 10 friends for multiple hours at a time.
      It will really be one of the defining games of 2020 and where quite a few of my Friday and Saturday nights went, often from 10 PM to 2 AM.
    </blog-p>
    <div class="blog-card mt-3">
      <img src="assets/blog/1.png" alt="Among Us lobby" />
    </div>

    <blog-h3>Work</blog-h3>
    <blog-p>
      On top of all this, things really picked up at work.
      Due to extra projects surrounding COVID and me being in charge of the flagship feature in our latest release, I worked for a lot of extra time and kept myself quite busy throughout the year.
      Especially due to the switch to working from home, the lines between work hours and free time began to blur quite a lot and left me with a bit less desire to code in my free time.
    </blog-p>
  </blog-section>

  <blog-section>
    <blog-section-title>What's Next?</blog-section-title>
    <blog-p>
      Overall I'm a little disappointed in my lack of progress in the latter half of the year, but I look back on the things I did fondly.
      I spent a lot of time (virtually) with friends I don't see often, and even made new ones due to the bizarre circumstances that 2020 brought along.
      I have absolutely no intention of ignoring my portfolio and all of the accompanying projects, so let's touch on some of the things I hope to do in 2021!
    </blog-p>
    <blog-p class="mt-6">
      With bowling starting to pick back up as the world slowly but surely reopens, I have many enhancements I'd love to make on my bowling page.
      The main thing I'd love to implement is the ability to extract bowling scores automatically from an image rather than having to manually input them.
      Given that I have next to no experience with image recognition, I have no idea if this is feasible whatsoever or just a pipe dream.
      It will probably be my first big project of next year though, regardless of the outcome.
    </blog-p>
    <blog-p class="mt-6">
      Lately I've also been wanting to work on some of the little ideas I had ages ago that are currently just placeholders on my website. Namely, the recipe keeper.
      I've been cooking more and more lately and pretty much every time I cook something, I find myself wishing I had a place to store my recipes easily (I hate every app I've ever tried for this).
    </blog-p>
    <blog-p class="mt-6">
      Finally, I'd like to spend some time updating this project overall.
      That would include moving to .NET Core 3.1 (probably .NET 5 by the time I do it), Angular 9+, Tailwind CSS 2+, and whatever other major updates have occurred since I built the project.
    </blog-p>
    <blog-p class="mt-6">
      Outstanding tasks can be found on <a class="link" href="https://trello.com/b/hpTp1H0B/portfolio-tasks">my public Trello board</a> where I organize and track all of my tasks and projects.
      Also, feel free to check out the <a class="link" href="https://github.com/Lyelt/Portfolio">entire project on GitHub</a> if you're interested!
    </blog-p>
  </blog-section>
</blog-article>
