.container-vertical, .container-horizontal {
  align-items: center;
}

.outer {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.card {
  margin-bottom: 1em;
}

.courses > .card {
  background-color: rgba(233, 30, 99, .25);
}

.secrets > .card {
  background-color: rgba(63, 81, 181, .25);
}

.star-name {
  font-size: x-small;
}

.responsive-container > * {
  min-width: 340px;
  max-width: 340px;
}

.container-vertical > * {
  text-align: center;
}

.stay-top {
  align-items: flex-start;
}

td.title {
  text-align: left;
}

table.fixed {
  table-layout: fixed;
  width: 90px;
}

table.fixed td {
  overflow: hidden;
}

table.fixed td:nth-of-type(n+1) {
  width: 35px;
}

table.fixed-md td:nth-of-type(n+1) {
  width: 65px;
}

table.fixed-lg td:nth-of-type(n+1) {
  width: 80px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

mat-list-item button {
  margin-right: 1em;
}

@media only screen and (min-width: 768px) {
  .flex-container {
    flex-direction: row;
  }

  .courses {
    margin-right: 1em;
  }
}

@media only screen and (min-width: 1080px) {
  table.fixed td:nth-of-type(n+1) {
    width: 40px;
  }

  table.fixed-md td:nth-of-type(n+1) {
    width: 120px;
  }

  table.fixed-lg td:nth-of-type(n+1) {
    width: 150px;
  }

  .responsive-container > * {
    min-width: 400px;
    max-width: 400px;
  }

  .secrets > * {
    min-width: 600px;
    max-width: 600px;
  }

  .flex-container {
    flex-direction: row;
  }

  .courses {
    margin-right: 2em;
  }

  .help-card {
    font-size: small;
  }
}
