<div class="flex items-center">
  <mat-icon [matTooltip]="currentSeriesCategory.description" class="mr-2 pt-2 text-gray-500 dark:text-gray-300" #tooltip="matTooltip" (click)="tooltip.toggle()">help_outline</mat-icon>
  <label class="flex flex-col">
    <span class="pb-1">{{label}}</span>
    <select [(ngModel)]="currentSeriesCategory" (change)="selectSeriesCategory()">
      <option *ngFor="let category of seriesCategories" [ngValue]="category">{{category.display}}</option>
    </select>
  </label>
</div>
