<div class="flex items-center">
  <button type="button" class="icon-button mr-2" [matTooltip]="currentSeriesCategory.description" #tooltip="matTooltip" (click)="tooltip.toggle()" aria-label="Show series category help">
    <mat-icon>help_outline</mat-icon>
  </button>
  <label class="flex flex-col">
    <span class="pb-1">{{label}}</span>
    <select [(ngModel)]="currentSeriesCategory" (change)="selectSeriesCategory()">
      <option *ngFor="let category of seriesCategories" [ngValue]="category">{{category.display}}</option>
    </select>
  </label>
</div>
