.container-vertical, .container-horizontal {
  align-items: center;
}

.course-name {
  font-weight: bold;
}

.card {
  margin-top: 1em;
}

.courses > .card {
  background-color: rgba(233, 30, 99, .25);
}

.secrets > .card {
  background-color: rgba(63, 81, 181, .25);
}

.misc-card {
  background-color: rgba(233, 30, 99, .25);
}

.star-name {
  font-size: x-small;
}

.responsive-container > * {
  min-width: 400px;
  max-width: 400px;
}

.container-vertical > * {
  text-align: center;
}

.stay-top {
  align-items: flex-start;
}

.secrets > * {
  min-width: 600px;
}

td.title {
  text-align: left;
}

table.fixed {
  table-layout: fixed;
  width: 90px;
}

table.fixed td {
  overflow: hidden;
}

table.fixed td:nth-of-type(n+1) {
  width: 40px;
}

table.fixed-lg td:nth-of-type(n+1) {
  width: 150px;
}

table.fixed-md td:nth-of-type(n+1) {
  width: 120px;
}
