<div class="chart-container">
  <ngx-charts-line-chart #chart
                         *ngIf="visible"
                         [scheme]="colorScheme"
                         schemeType="ordinal"
                         [results]="bowlingData"
                         [legend]="true"
                         [legendTitle]=null
                         [legendPosition]=null
                         (legendLabelClick)="onLegendLabelClick($event)"
                         gradient="false"
                         xAxis="true"
                         yAxis="true"
                         showXAxisLabel="true"
                         showYAxisLabel="true"
                         yAxisLabel="Average Session Score"
                         autoScale="true"
                         timeline="true"
                         showGridLines="true"
                         [curve]="curve"
                         (select)="select($event)">
  </ngx-charts-line-chart>
</div>
