<div class="chart-container">
  <ngx-charts-line-chart #chart
                         *ngIf="!dataLoading"
                         [scheme]="colorScheme"
                         schemeType="ordinal"
                         [results]="bowlingData"
                         [legend]="true"
                         [legendTitle]=null
                         [legendPosition]=null
                         (legendLabelClick)="onLegendLabelClick($event)"
                         gradient="false"
                         xAxis="true"
                         yAxis="true"
                         showXAxisLabel="true"
                         showYAxisLabel="true"
                         [yAxisLabel]="yAxisLabel"
                         autoScale="true"
                         timeline="true"
                         showGridLines="true"
                         [curve]="curve"
                         (select)="select($event)">
  </ngx-charts-line-chart>
</div>
<div class="spinner-container" *ngIf="dataLoading">
  <mat-progress-spinner class="spinner" color="accent" mode="indeterminate"></mat-progress-spinner>
</div>
