<div class="chart-container">
  <ngx-charts-line-chart #chart
                         *ngIf="!dataLoading && category.chartType == 'line'"
                         [scheme]="colorScheme"
                         schemeType="ordinal"
                         [results]="bowlingData"
                         [legend]="true"
                         [legendTitle]=null
                         [legendPosition]=null
                         (legendLabelClick)="onLegendLabelClick($event)"
                         gradient="false"
                         xAxis="true"
                         yAxis="true"
                         showXAxisLabel="true"
                         showYAxisLabel="true"
                         [yAxisLabel]="yAxisLabel"
                         autoScale="true"
                         timeline="true"
                         showGridLines="true"
                         [curve]="curve"
                         (select)="select($event)">
  </ngx-charts-line-chart>
  <ngx-charts-bar-horizontal #barChart
                             *ngIf="!dataLoading && category.chartType == 'horizontalBar'"
                             [scheme]="colorScheme"
                             schemeType="ordinal"
                             [results]="barChartData"
                             xAxis="true"
                             yAxis="true"
                             legend="false"
                             autoScale="true"
                             showGridLines="true"
                             showXAxisLabel="true"
                             showYAxisLabel="true"
                             [yAxisLabel]="yAxisLabel"
                             [legend]="false">

  </ngx-charts-bar-horizontal>
</div>
<div class="flex flex-col justify-center" *ngIf="dataLoading">
  <mat-progress-spinner class="self-center my-6" color="accent" mode="indeterminate"></mat-progress-spinner>
</div>
