<div class="mt-8 pt-8 px-4">
  <section class="flex flex-col items-center text-center pb-8">
    <h1 class="font-bold text-2xl mb-4">
      This is my <span class="text-indigo-400">blog</span>.
    </h1>
    <p class="max-w-xl text-gray-600">
      At least, it sort of resembles a blog. I'll be recording some thoughts about things I've created and learned as a developer.
    </p>
  </section>

  <div class="w-full opacity-75 -mt-8 md:-mt-12 xl:-mt-18">
    <app-background-icon></app-background-icon>
  </div>
</div>


<div class="container mx-auto px-4 mt-8 max-w-sm max-w-md sm:max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-6xl">
  <div class="flex flex-col items-start mb-10">
    <div class="blog-date">October 1, 2019</div>
    <h2 routerLink="bowling" class="link font-bold">Tracking bowling scores and visualizing interesting statistics &rarr;</h2>
  </div>

  <div class="flex flex-col items-start mb-10">
    <div class="blog-date">October 1, 2019</div>
    <h2 routerLink="speedrun" class="link font-bold">Uploading and comparing Super Mario 64 speedrun times &rarr;</h2>
  </div>

  <div class="flex flex-col items-start mb-10">
    <div class="blog-date">October 1, 2019</div>
    <h2 routerLink="portfolio" class="link font-bold">Building my portfolio website &rarr;</h2>
  </div>

  <!--<div class="flex flex-col items-start mb-10">
    <div class="blog-date">October 1, 2019</div>
    <h2 routerLink="typing" class="link font-bold">Analyzing typing speed, patterns, and statistics &rarr;</h2>
  </div>-->

  <div class="flex flex-col items-start">
    <div class="blog-date">September 30, 2019</div>
    <h2 routerLink="encounter" class="link font-bold">A Dungeons and Dragons encounter tracker &rarr;</h2>
  </div>
</div>
