
<div class="-mt-20 -mb-48 flex flex-col select-none">
    
    <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700 mb-6">
        <ul class="flex flex-flex-row justify-around -mb-px uppercase">
            <li class="mr-2">
                <a routerLink="/gamenight/home" 
                class="inline-block p-4 rounded-t-lg"
                [ngClass]="{'text-indigo-600 border-b-2 border-indigo-600': isActive('home') || isActive(undefined)}">Home</a>
            </li>
            <li class="mr-2">
                <a routerLink="/gamenight/games" 
                class="inline-block p-4 rounded-t-lg"
                [ngClass]="{'text-indigo-600 border-b-2 border-indigo-600': isActive('games')}">Games</a>
            </li>
            <li class="mr-2">
                <a routerLink="/gamenight/meals" 
                class="inline-block p-4 rounded-t-lg"
                [ngClass]="{'text-indigo-600 border-b-2 border-indigo-600': isActive('meals')}">Meals</a>
            </li>
        </ul>
    </div>
    <div class="px-4">
        <app-game-night-home *ngIf="isActive('home') || isActive(undefined)"></app-game-night-home>
        <app-games *ngIf="isActive('games')"></app-games>
        <app-meals *ngIf="isActive('meals')">meals</app-meals>
    </div>
    <div class="absolute right-0 bottom-0 left-0 px-4 my-4">
        <app-game-night-schedule></app-game-night-schedule>
    </div>
</div>
