<div class="container-vertical">
  <div class="container">
    <p><strong>Session ({{session.id}}) on {{session.date | date: 'mediumDate'}}</strong></p>
  </div>
  <div class="container-horizontal">
    <app-bowling-select-user [initialUserId]="currentUserId"
                             [label]="'Add game for user...'"
                             (selectionChange)="selectUser($event)"></app-bowling-select-user>
    <button mat-raised-button color="primary" (click)="addGame()">Add Game</button>
  </div>
  <app-bowling-game *ngFor="let game of filteredGames" [game]="game"></app-bowling-game>
</div>
