.container {
  justify-content: center;
}

.container-wrap {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;
}

.container-wrap > * {
  margin: 0 auto;
}
