<div class="mt-8 flex flex-col justify-center px-8">
  <div class="flex justify-end mb-6">
    <span class="link" routerLink="bingo">Bingo Tool &rarr;</span>
  </div>
  <div class="container mx-auto">
    <div class="flex justify-between p-4">
      <h3 class="font-semibold" *ngFor="let user of runners">{{user.userName}}</h3>
    </div>
    <div class="mb-12" *ngFor="let course of courses">
      <h4 class="font-semibold text-center mb-1">{{course.name}}<span *ngIf="course.abbreviation"> ({{course.abbreviation}})</span></h4>
      <div class="border rounded bg-white">
        <div class="flex flex-col even:bg-gray-200 rounded px-4" *ngFor="let star of course.stars">
          <div class="mb-6">
            <p class="text-center">{{star.name}}</p>
            <div class="flex justify-between">
              <p *ngFor="let user of runners"
                 class="link font-normal"
                 [ngClass]="{'font-bold': starTimeIsFastest(star.starId, user.id)}"
                 (click)="openDialog(getStarTime(star.starId, user.id), star.name)">
                <span *ngIf="getStarTime(star.starId, user.id)?.timeDisplay">{{getStarTime(star.starId, user.id)?.timeDisplay}}</span>
                <span *ngIf="!getStarTime(star.starId, user.id)?.timeDisplay" class="text-gray-500 underline uppercase tracking-wide hover:text-indigo-500">No Entry</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
