.mat-dialog-container {
  min-width: 408px;
}

@media only screen and (min-width: 600px) {
  .mat-dialog-container {
    min-width: 560px;
  }
}

@media only screen and (min-width: 1080px) {
  .mat-dialog-container {
    min-width: 800px;
  }
}

.video {
  width: 100%;
}
