.header-logo {
  max-height: 3em;
}

.spacer {
  flex: 1 1 auto;
}

.nav-item {
  padding: 0 2em;
  color: #808080;
  text-decoration-line: none;
}

.header-bar {
  background-color: white;
  border-bottom: .25px solid;
}
