<mat-toolbar class="header-bar sticky">
  <mat-toolbar-row>
    <mat-icon routerLink="">home</mat-icon> 
    <span class="spacer"></span>
    <span class="nav-item" routerLink="" (click)="scrollToElement('projects')">PROJECTS</span>
    <span class="nav-item" routerLink="" (click)="scrollToElement('skills')">SKILLS</span>
    <span class="nav-item" routerLink="" (click)="scrollToElement('about')">ABOUT</span>
    <span class="nav-item" routerLink="" (click)="scrollToElement('contact')">CONTACT</span>
    <span class="spacer"></span>
    <a class="nav-item icon" href="https://github.com/Lyelt" title="Github"><img src="assets/github-logo.png" /></a>
    <a class="nav-item icon" href="https://www.linkedin.com/in/nicholasghobrial/" title="LinkedIn"><img src="assets/linkedin-logo.png" /></a>
  </mat-toolbar-row>
</mat-toolbar>
