<div class="py-4 px-2">
  <div class="flex flex-col">
    <div class="mb-6 flex justify-between w-full">
      <p class="link" (click)="back()">&larr; Back to Collections</p>
      <div class="flex flex-col items-center">
        <h2 class="text-xl">{{collection.name}}</h2>
        <h5 class="text-xs">{{getCardQuantity(null)}} cards, ${{getSectionPrice(null)}}</h5>
      </div>
    </div>
    <div class="mb-6" *ngIf="editingSection">
      <app-card-search class="pb-32"
                       placeholder="Editing contents of {{editingSection}}"
                       [collection]="collection"
                       [section]="editingSection"></app-card-search>
    </div>
    <div class="mb-6 flex flex-col items-center lg:flex-row lg:items-start lg:flex-wrap">
      <div *ngFor="let section of this.collection.sections" class="w-full mb-12 flex flex-col lg:mr-20 lg:w-auto lg:flex-grow xl:mr-32 last:mr-0">
        <div class="flex flex-col items-center">
          <div class="flex text-center mb-2 hover:text-gray-800 hover:border-b cursor-pointer" (click)="startEditing(section)"><h3 class="font-semibold mr-2">{{section}}</h3><mat-icon>edit</mat-icon></div>
          <h5 class="text-sm">({{getCardQuantity(section)}} cards, ${{getSectionPrice(section)}})</h5>
        </div>
        <div *ngFor="let subSection of getSubSections(section)" class="mt-8 first:mt-0">
          <h4 class="font-semibold">{{getSubSectionDisplay(subSection)}}</h4>
          <div *ngFor="let c of getCardList(section, subSection)" class="flex justify-between py-2 border-b last:border-b-0">
            <span><span class="font-bold">{{c.setCard.quantity}}x</span><span class="pl-2 truncate">{{c.ygoCard.name}}</span></span>
            <a class="link" [href]="getTcgLink(c.ygoCard)" target="_blank">${{getCardPrice(c)}}</a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <form (submit)="addSectionToCollection()"
            class="flex justify-between"
            name="section">
        <input class="form-input flex-grow mr-4 sm:mr-6" type="text" placeholder="Add a section"
               [(ngModel)]="newSectionName" name="sectionName" required />
        <button type="submit" class="btn btn-secondary">Add</button>
      </form>
    </div>
  </div>
</div>
