<div class="py-4 px-2">
  <div class="flex flex-col">
    <div class="mb-4 flex justify-start">
      <p class="link" (click)="back()">&larr; Back to Collections</p> 
    </div>
    <p>
      Viewing {{collection.name}}
    </p>
    <div class="flex flex-col">
      <div *ngFor="let section of this.collection.sections">
        <span>Section: {{section}}</span>
        <div *ngFor="let c of getCardList(section)" class="flex justify-between border-b">
          <span>{{c.setCard.quantity}}x {{c.ygoCard.name}} ({{c.setCard.setCode}})</span>
          <span>${{c.ygoCard.card_Prices.tcgplayer_Price}} (${{c.ygoCard.card_Prices.tcgplayer_Price * c.setCard.quantity}})</span>
        </div>
      </div>
    </div>
  </div>
</div>
