<!-- <div class="grid grid-cols-4">
    <div class="flex cursor-pointer" (click)="toggleCourseCollapsed(course)">
      <mat-icon class="mr-1">{{courseIsCollapsed(course) ? 'keyboard_arrow_right' : 'keyboard_arrow_down'}}</mat-icon>
      <h3 class="font-semibold mr-1">{{course.name}}</h3>
      <span *ngIf="getCompletedStars(course) as completedStars" class="font-bold"
            [ngClass]="{'text-red-500': completedStars.percentage >= 0, 'text-orange-500': completedStars.percentage > 50, 'text-green-500': completedStars.percentage > 80}">({{completedStars.completed}}/{{completedStars.total}})</span>
    </div>
    <h3 class="font-medium text-indigo-600 dark:text-indigo-400 pl-2" *ngFor="let user of runners">{{getStarCount(user, course)}}</h3>
    <h3 class="font-bedium text-indigo-600 dark:text-indigo-400 pl-2 text-left">+/-</h3>
  </div>
  <div class="border rounded bg-white dark:bg-gray-800 dark:border-gray-600 mb-6 mt-6 shadow" [ngClass]="{'hidden': courseIsCollapsed(course)}">
    <div class="even:bg-gray-100 dark:even:bg-gray-900 rounded px-4" *ngFor="let star of orderStars(course.stars)">
      <div class="grid grid-cols-4 py-2">
        <p>{{star.name}}</p>
        <div *ngFor="let user of runners"
             class="link font-normal pl-2"
             [ngClass]="{'font-bold': starTimeIsFastest(star.starId, user.id)}"
             (click)="openDialog(getStarTime(star.starId, user.id), star.name)">
          <span *ngIf="getStarTime(star.starId, user.id)?.timeDisplay">{{getStarTime(star.starId, user.id)?.timeDisplay}}</span>
          <span *ngIf="!getStarTime(star.starId, user.id)?.timeDisplay" class="text-gray-500 dark:text-gray-300 underline uppercase tracking-wide hover:text-indigo-500">No Entry</span>
        </div>
        <p>-1</p>
      </div>
    </div>
  </div> -->


<div class="rounded border border-gray-200 dark:border-gray-900">
    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-900">
        <thead>
            <tr class="uppercase text-sm cursor-pointer hover:underline" (click)="collapseToggled.emit()">
                <th class="w-4/12 text-left font-medium tracking-wide pl-4 pr-10 py-2">
                    <div>
                        <span class="absolute pb-1">{{course.name}}</span>
                        <app-progress *ngIf="getCompletedStars(course) as completedStars" [percentage]="completedStars.percentage" [complete]="completedStars.completed" [total]="completedStars.total"></app-progress>
                    </div>
                </th>
                <th class="w-3/12 text-left font-medium tracking-wide py-2" *ngFor="let runner of runners">{{runner.userName}} ({{getStarCount(runner)}})</th>
                <th class="w-4/12 text-left font-medium tracking-wide py-2"><mat-icon>more_time</mat-icon></th>
            </tr>
        </thead>
        <tbody *ngIf="!isCollapsed">
            <tr *ngFor="let star of orderedStars" class="even:bg-gray-200 dark:even:bg-gray-900">
                <td class="w-4/12 pl-4 pr-2 py-2 link font-normal text-gray-900 dark:text-gray-100">{{star.name}}</td>
                <td class="w-3/12 py-2" *ngFor="let runner of runners">{{getStarTime(star.starId, runner.id)?.timeDisplay}}</td>
                <td class="w-4/12 py-2">-1</td>
            </tr>
        </tbody>
    </table>
  </div>

