<div class="flex flex-col sm:flex-row sm:justify-between sm:items-center px-4 pb-4 w-full">
  <div class="mr-4">
    <div *ngIf="card.card_Sets && card.card_Sets.length > 0" (click)="$event.stopPropagation()">
      <label class="sr-only" [attr.for]="'set-' + card.id">Card set</label>
      <select class="form-select" [id]="'set-' + card.id" [(ngModel)]="selectedSet">
        <option *ngFor="let set of card.card_Sets" [ngValue]="set">{{set.set_Code}} {{set.set_Rarity_Code}}</option>
      </select>
    </div>
    <p *ngIf="!card.card_Sets || card.card_Sets.length == 0" class="link text-gray-400">No Sets Found</p>
  </div>
  <div class="flex mt-2 sm:mt-0">
    <button type="button" class="icon-button text-red-500" (click)="removeCard($event)" [attr.aria-label]="'Remove one ' + card.name"><mat-icon>remove_circle</mat-icon></button>
    <span class="px-2">{{getQuantityDisplay()}}</span>
    <button type="button" class="icon-button text-green-600" (click)="addCard($event)" [attr.aria-label]="'Add one ' + card.name"><mat-icon>add_circle</mat-icon></button>
  </div>
</div>
