<article class="container mx-auto p-4 max-w-sm max-w-md sm:max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-6xl">
  <div class="link mb-4" routerLink="/blog">&larr; Back to blog</div>

  <header class="mb-8">
    <h1 class="font-bold text-2xl mb-1">
      Building an Encounter Tracker for Dungeons and Dragons.
    </h1>
    <p class="text-sm text-gray-500">September 29, 2019</p>
  </header>

  <section>
    <h2 class="font-semibold text-lg mb-2">
      The Concept
    </h2>
    <p class="leading-relaxed mb-6">
      A web application that tracks initiative order and combat actions during a D&D encounter.
    </p>
  </section>

  <section>
    <h2 class="font-semibold text-lg mb-2">
      The Idea
    </h2>
    <p class="leading-relaxed mb-6">
      The initial idea for this project actually stemmed from a real-life problem I was having every week.
      My friends and I would gather every Saturday to play Dungeons and Dragons.
      In my group, I am the designated note-taker; I document the group’s adventures so that we can look back week by week and see what happened.
    </p>
    <p class="leading-relaxed mb-6">
      If you are familiar with D&D, you’ll know that it is pretty common to encounter “enemies” that must be fought.
      What I noticed was the following: <strong>sessions that were heavy in combat had very few notes</strong>!
      I was always too focused on the combat to take notes, and much of the story-telling was on hold while we simply battled it out.
    </p>
     
  </section>
</article>
