<form (ngSubmit)="emitPlayerEndedTurn()">
  <div class="bg-gray-300 rounded-full px-4 py-2 mt-4 flex justify-between items-center" [class.animate-border]="player.isActive">
    <mat-icon [ngClass]="{'pointer-events-none text-gray-300': player.isActive}" class="cursor-pointer" (click)="emitPlayerRemoved()" title="Remove {{player.name}}">clear</mat-icon>
    <span class="truncate px-1">{{player.name}}</span>
    <span class="border-l pl-2">{{player.order}}</span>
  </div>
  <div class="flex justify-end" *ngIf="player.isActive">
    <button type="submit" class="link">End Turn</button>
  </div>
</form>

