<blog-article>
  <blog-header>
    <blog-title>Uploading and Comparing Super Mario 64 Speedrun Times</blog-title>
    <blog-date>October 1, 2019</blog-date>
    <blog-subtitle>An overcomplicated spreadsheet that taught me about EF Core, MySQL, .NET Core Identity, and Angular JWTs.</blog-subtitle>
  </blog-header>

  <blog-section>
    <blog-section-title>Speedrunning - What?</blog-section-title>
    <blog-p>
      It's bold of me to assume that everyone will know what I'm talking about here, so I'll give a quick summary. 
      Speedrunning is, basically, completing a particular objective in a video game as quickly as possible.
      In this case, that game is <a class="link" href="https://www.speedrun.com/sm64">Super Mario 64</a>
      and we are trying to collect a certain number of stars and beat the game as quickly as possible.
    </blog-p>
  </blog-section>

  <blog-section>
    <blog-section-title>Reviving an Old Idea</blog-section-title>
    <blog-p>
      This idea actually came from many years ago, when my friend, Matt, and I created a free little website with a CMS called “Webs”.
      It was hosted on Webs with a URL of something like “sm64nick.webs.com”.
    </blog-p>
    <blog-p>
      It was literally <em>just</em> an ugly data table.
      Honestly, why didn’t we use Google Sheets?
      Maybe we didn’t know about it at the time. Here’s a picture.
    </blog-p>
    <div class="blog-card mt-6">
      <img src="assets/speedrun/1.png" alt="Old speedrun data table" />
      <figcaption class="italic text-sm p-2">Yep. It's a table. That's it.</figcaption>
    </div>
    <blog-p>
      Nowadays, I would just create a spreadsheet where we could both update our times.
      It would be dead-simple, and take around 15 minutes.
      But... that’s not quite as fun, I guess. I decided I’d make it a part of my website instead.
      I was already hosting it, so how hard could it be to just add a table myself?
    </blog-p>
    <blog-h3>
      Answer: hard.
    </blog-h3>
    <blog-p>
      At least for me.
      Once I considered the fact that I needed to learn about authentication and Entity Framework and MySQL, there was a steeper learning curve than I had bargained for.
    </blog-p>
  </blog-section>

  <blog-section>
    <blog-section-title>Information Overload</blog-section-title>
    <blog-h3>Databases</blog-h3>
    <blog-p>
      I was comfortable with SQL Server, but I needed something that would play nicely with the Linux-based Digital Ocean droplet that the website was being hosted in.
      My choice at first was SQLite, because it was similar to SQL Server, easy to set up with Entity Framework, and didn't require setting up an actual database.
    </blog-p>
    <blog-p>
      Luckily, it didn't take long for me to learn that Docker doesn't make file storage and access easy.
      I knew I needed to decide on an actual database before getting much further, and MySQL seemed like the easy choice once I learned about its
      <a class="link" href="https://github.com/dokku/dokku-mysql">plugin compatibility with Dokku</a>.
    </blog-p>
    <blog-h3>ORM</blog-h3>
    <blog-p>
      I hadn't ever used an ORM before this, but I knew I was <em>supposed</em> to.
      Entity Framework appeared to be the de-facto standard for ORMs in the .NET ecosystem, and it was even better that a .NET Core-compatible version had been recently released.
      Not to mention I'd much rather let EF do the object mapping and migrations <em>for me</em> rather than writing all that boilerplate code myself as I had done thus far.
    </blog-p>
    <blog-h3>Authentication</blog-h3>
    <blog-p>
      For me, authentication was a beast. I wasn't even sure where to start.
      Every time I started to do some research, new concepts would pop up that just baffled me. 
      What's done on the client side? Angular has support for JWTs? What's done on the server side? EF Core has <em>built in</em> identity? How does <em>that</em> work?
    </blog-p>
    <blog-p>
      But I only wanted Matt and myself to be able to edit these speedrun times, so I knew I couldn't avoid it.
    </blog-p>
  </blog-section>

  <blog-section>
    <blog-section-title>An Abrupt Conclusion</blog-section-title>
    <blog-p>
      In the end, I did it.
      Through research and articles and videos and documentation and trial and error, I managed to piece together something that actually allowed a user to <em>log in</em> to my website.
      I was proud. I still am, actually.
    </blog-p>
    <blog-p>
      There are still some features I'd like to add in the future, but I am happy with how the tool turned out for a quick prototype I spun up.
      It allowed me to lay the groundwork for all my future backend work that I would do in my website,
      and it was a great learning opportunity despite the fact that it really could've just been a spreadsheet all along. 
      Check out <a class="link" href="/blog/speedrun/update">this blog post</a> for a look at how this page has changed since this article was first written!
    </blog-p>
    <blog-p>
      Check out the <a class="link" href="https://github.com/Lyelt/Portfolio">entire project on GitHub</a> if you're interested!
    </blog-p>
  </blog-section>
</blog-article>
