<div class="surface-card flex min-h-24 w-full flex-col items-center justify-around overflow-hidden border {{borderClass}} {{textClass}} text-base font-semibold sm:min-h-32 sm:text-2xl lg:min-h-40 lg:text-4xl"
    [ngClass]="[isOutside ? 'justify-between border-transparent pt-6 sm:pt-10 ' + bgClass : '']">
    <div class="min-w-0 px-2 py-3 sm:px-4">
        <span class="block truncate">{{dogName}}</span>
    </div>
    <div class="flex w-full" *ngIf="isOutside" aria-hidden="true">
        <div class="border-2 {{animatedBorderClass}} ping-2000 w-1/4" ></div>
        <div class="border-2 {{animatedBorderClass}} ping-2000 w-1/4 animation-delay-500"></div>
        <div class="border-2 {{animatedBorderClass}} ping-2000 w-1/4 animation-delay-1000"></div>
        <div class="border-2 {{animatedBorderClass}} ping-2000 w-1/4 animation-delay-1500"></div>
    </div>
</div>
