<div class="container-vertical responsive-container">
  <div class="links container-horizontal">
    <!--<button mat-raised-button routerLink="/speedrun/bingo">Bingo Tool</button>
  <button mat-raised-button routerLink="/speedrun/configure">Settings</button>
  <button mat-raised-button routerLink="/login">Logout</button-->
  </div>
  <div class="course responsive-container">
    <mat-card class="card course-card" *ngFor="let course of courses">
      <mat-card-header>
        <mat-card-title>{{course.name}}<span *ngIf="course.abbreviation"> ({{course.abbreviation}})</span></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table class="mat-table">
          <tr class="mat-header-row">
            <th class="mat-header-cell star-header-cell">Star</th>
            <th class="mat-header-cell runner-header-cell" *ngFor="let user of runners">{{user.userName}}</th>
          </tr>
          <tr class="mat-row star-row" *ngFor="let star of course.stars">
            <td class="mat-cell star-cell">{{star.name}}</td>
            <td *ngFor="let user of runners"
                [ngClass]="{'fastest-time': starTimeIsFastest(star.starId, user.id)}"
                class="mat-cell star-time-cell"
                (click)="openDialog(getStarTime(star.starId, user.id), star.name)">{{getStarTime(star.starId, user.id)?.timeDisplay}}</td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
