<p>Game {{game.gameNumber}}: {{game.totalScore}}</p>
<div class="game-wrapper">
  <div class="frame" *ngFor="let frame of game.frames">
    <div class="frame-name">{{frame.frameNumber}}</div>
    <div class="ball-scores">
      <div class="roll roll1-score" [class.split-thirds]="frame.frameNumber == 10">{{getRoll1Display(frame)}}</div>
      <div class="roll roll2-score" [class.split-thirds]="frame.frameNumber == 10">{{getRoll2Display(frame)}}</div>
      <div class="roll roll3-score"
           [class.split-thirds]="frame.frameNumber == 10"
           *ngIf="frame.frameNumber == 10 && frame.roll3Score">{{getRoll3Display(frame)}}</div>
    </div>
    <div class="frame-score">333</div>
  </div>
  <div class="frame">
    <div class="frame-name">Total Score</div>
    <div class="game-score">{{game.totalScore}}</div>
  </div>
</div>
