<div class="container-horizontal">
  <mat-icon (click)="delete()">delete_forever</mat-icon>
  <p>Game {{game.gameNumber}}: {{game.totalScore}}</p>
  <mat-form-field *ngIf="game.id == 0"><input matInput type="number" min="1" [(ngModel)]="game.gameNumber" placeholder="Game number" /></mat-form-field>
</div>
<div class="button-wrapper">
  <mat-chip-list *ngIf="game.id == 0" class="chip-list">
    <mat-chip *ngFor="let score of getScoresToDisplay()"
              (click)="addScore(score.value)"
              class="score-button"
              color="primary"
              selected>{{score.display}}</mat-chip>
    <mat-chip (click)="isSplit = !isSplit" class="score-button" color="accent" selected>{{isSplit ? "Split Off" : "Split On"}}</mat-chip>
    <mat-chip (click)="back()" class="score-button" color="accent" selected>Back</mat-chip>
    <mat-chip (click)="save()" class="score-button" color="accent" selected>Save</mat-chip>
  </mat-chip-list>
</div>
<div class="game-wrapper" tabindex="0" (keyup)="handleKey($event)">
  <div class="frame" *ngFor="let frame of game.frames" (click)="selectFrame(frame.frameNumber)" [class.selected]="game.id == 0 && frame.frameNumber == currentFrame">
    <div class="frame-name">{{frame.frameNumber}}</div>
    <div class="ball-scores">
      <div class="roll roll1-score"
           [class.split-thirds]="frame.frameNumber == 10"
           [class.circle]="frame.isSplit">{{getRoll1Display(frame)}}</div>
      <div class="roll roll2-score"
           [class.split-thirds]="frame.frameNumber == 10"
           *ngIf="frame.roll2Score != null" >{{getRoll2Display(frame)}}</div>
      <div class="roll roll3-score"
           [class.split-thirds]="frame.frameNumber == 10"
           *ngIf="frame.frameNumber == 10 && frame.roll3Score != null">{{getRoll3Display(frame)}}</div>
    </div>
    <div class="frame-score">{{getScoreSoFar(game, frame)}}</div>
  </div>
  <div class="frame">
    <div class="frame-name">Total Score</div>
    <div class="game-score">{{game.totalScore}}</div>
  </div>
</div>
