.container-vertical {
  text-align: center;
  align-items: center;
}

.responsive-container > * {
  margin: 1em 0 0 0;
}

.links > * {
  margin-right: .5em;
}

.center {
  justify-content: center;
}

.stat-action-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Temporary hack to work around ngx-chart legend issue.
    The legend seems to live outside the container if I set a max-height, so I am just padding for it manually. */
.stat-action-wrapper {
  padding-top: 100px;
}
