.container-vertical {
  text-align: center;
}

.responsive-container > * {
  margin: 1em 0 0 0;
}

.links > * {
  margin-right: .5em;
}
.container-vertical {
  align-items: center;
}

.chart-wrapper {
  margin-top: 1em;
  display: grid;
  height: 600px;
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)*/
  /*
  display: flex;
  overflow: hidden;*/
}

.stat-wrapper {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}
